* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #EBF8BF;
}

.title {
    display: block;
    font-weight: 1000;
    color: #BD4F6C;
    border: 2px solid #D7816A;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.img-desc {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img, .desc {
    margin: 5px;
    /* padding: 0px; */
    width: 500px;
    height: auto;
}

.img {
    width: 500px;
    height: 300px;
    border: 2px solid #D7816A;
}

.desc {
    flex: 2;
}

li::marker {
    font-weight: bold; /* Makes the bold */
    color: #518D75;
  }

p {
    margin: 5px;
    padding: 5px;
    color: #BD4F6C;
    font-weight: 600;
}

.recipe-link, .ingredients, .steps {
    /* border: 2px solid #4b3732; */
    margin: 0px;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
}

.heading, .content {
    margin: 5px;
    padding: 5px;
    /* border: 2px solid pink; */
}

.heading {
    margin: 5px;
    padding: 5px;
    border: 2px solid #D7816A;
    text-align: center;
    color: #518D75;
}

.content {
    margin-left: 20%;
    margin-right: 20%;
    color: #BD4F6C;
}